<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header">
</header>
<div class="container py-5">
    <div class="card fmarco" >
        <div class="card-header bg-light fcabecero" th:text="${titulo}"></div>
        <div class="card-body">

            <div th:object="${cliente}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <form th:action="@{/form}" th:object="${cliente}" method="post">
                <div class="stylesw1">
                    <label for="nombre" class="col-sm-2 col-form-label stylesw2">Nombre</label>
                    <div class="col-sm-20">
                        <input id="nombre" type="text" th:field="*{nombre}" class="form-control inputw"
                               th:errorclass="'form-control is-invalid'"/>
                    </div>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                           th:errors="*{nombre}"></small>
                </div>
                <div class="stylesw1">
                    <label for="apellido" class="col-sm-2 col-form-label stylesw2">Apellido</label>
                    <div class="col-sm-20">
                        <input id="apellido" type="text" th:field="*{apellido}" class="form-control inputw"
                               th:errorclass="'form-control is-invalid'"/>
                    </div>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
                           th:errors="*{apellido}"></small>

                </div>
                <div class="stylesw1">
                    <label for="email" class="col-sm-2 col-form-label stylesw2">Email</label>
                    <div class="col-sm-" 20>
                        <input id="email" type="email" th:field="*{email}" class="form-control inputw"
                               th:errorclass="'form-control is-invalid'"/>
                    </div>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"></small>
                </div>
                <div class="stylesw1">
                    <label for="celular" class="col-sm-2 col-form-label stylesw2">Celular</label>
                    <div class="col-sm-20">
                        <input id="celular" type="text" th:field="*{celular}" class="form-control inputw"
                               th:errorclass="'form-control is-invalid'"/>
                    </div>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('celular')}"
                           th:errors="*{celular}"></small>
                </div>

                <div class="stylesw1">
                    <label for="fecha" class="col-sm-2 col-form-label stylesw2">Fecha</label>
                    <div class="col-sm-20">
                        <input id="fecha" type="date" th:field="*{createAt}" class="form-control inputw"
                               th:errorclass="'form-control is-invalid'"/>
                    </div>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}"
                           th:errors="*{createAt}"></small>
                </div>
                <div class="stylesw1">
                    <label for="trabajo" class="col-sm-2 col-form-label stylesw2">Trabajo</label>
                    <div class="col-sm-20">
                        <select id="trabajo" th:field="*{trabajo.id}" class="form-control inputw">
                            <option th:each="item: ${trabajos}"
                                    th:value="${item.id}"
                                    th:text="${item.trabajo}">
                            </option>

                        </select>
                    </div>
                </div>

                <div class="stylesw1">
                    <label for="distrito" class="col-sm-2 col-form-label stylesw2">Distrito</label>
                    <div class="col-sm-20">
                        <select id="distrito" th:field="*{distrito.id}" class="form-control inputw">
                            <option th:each="item: ${distritos}"
                                    th:value="${item.id}"
                                    th:text="${item.nombre}">
                            </option>

                        </select>
                    </div>
                </div>
                </br>
                <div>
                    <input type="submit" th:value=" ${boton}" class="btn btn-primary "/>
                </div>
                <!-- <input type="hidden" th:field="*{id}"/>-->
            </form>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer">
</footer>
</body>
</html>